.nav-container {
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.profile-container {
  margin-top: 20px;
}

.profile-container p {
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #66fcf1;
  border-radius: 6px;
  width: 700px;
}

.input-wrapper input {
  width: 70%;
  height: 10px;
  padding: 10px;
  background-color: #e8f0fe;
  border-radius: 5px;
}

.input-wrapper button {
  font-size: 1.2rem;
  background: #0b0c10;
  color: #fff;
  padding: 5px 20px;
  margin: 15px;
  border: 1px solid #66fcf1;
  border-radius: 5px;
  cursor: pointer;
}

.input-wrapper button:hover {
  color: #66fcf1;
  background: #1f2833;
}

.url-submit-error {
  color: #D8000C;
  background-color: #FFD2D2;
  width: 30%;
  padding: 5px;
  margin: 20px auto;
  font-size: 1.2rem;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

@media (max-width: 575.9px) {
  .nav-container {
    flex-direction: column;
  }

  .profile-container p {
    font-size: 1.2rem;
  }

  .input-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }

  .input-wrapper input {
    margin-top: 10px;
    height: 10px;
  }

  .input-wrapper button {
    font-size: 1.1rem;
    width: 55%;
    margin-bottom: 10px;
  }

  .url-submit-error {
    width: 80%;
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .profile-container p {
    font-size: 1.3rem;
  }

  .input-wrapper button {
    font-size: 1.2rem;
  }

  .url-submit-error {
    width: 60%;
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) and (max-width: 991.9px) {
  .input-wrapper {
    margin-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .profile-container p {
    font-size: 1.4rem;
  }

  .url-submit-error {
    width: 50%;
  }
}

@media (max-width: 991.9px) {
  .profile-container {
    margin: 10px 20px;
  }

  .input-wrapper input {
    width: 92%;
    padding: 12px;
  }
}

@media (min-width: 992px) and (max-width: 1084.9px) {
  .url-submit-error {
    width: 40%;
  }
}
