.nav {
  margin: 0px 20px 50px;
  display: flex;
  justify-content: flex-end;
}

.nav p {
  font-size: 1.3rem;
  padding: 10px 20px;
  margin: 15px;
  background: #0b0c10;
  color: #fff;
  border: 1px solid #66fcf1;
  border-radius: 5px;
  cursor: pointer;
}

.nav p:hover {
  color: #66fcf1;
  background: #1f2833;
}

@media (max-width: 575.9px) {
  .nav {
    margin-bottom: 20px;
  }

  .nav p {
    font-size: 1.1rem;
  }
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .nav {
    margin-bottom: 10px;
  }

  .nav p {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .nav {
    margin: 0px 20px 20px;
  }
}
